# =========================
# Node dependencies
# =========================
node_modules/

# =========================
# Environment & secret files
# =========================
.env
.env.*
!.env.example
.env.local
.env*.local
giitech-ssm-mobile/scripts/serviceAccountKey.json

# =========================
# Expo / React Native
# =========================
.expo/
dist/
web-build/
expo-env.d.ts
.ios/
.android/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler
.metro-health-check*

# Debug / logs
logs/
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS files
.DS_Store
*.pem

# TypeScript build
*.tsbuildinfo

# =========================
# Web / frontend
# =========================
app-example/
dist/
build/
.firebase/

# =========================
# Editor / local workspace
# =========================
.vscode/
.idea/
